@font-face {
  font-family: OpenSans-Bold-Italic;
  src: url(Fonts/open-sans/Open\ Sans\ Bold\ Italic.ttf);
}
@font-face {
  font-family: OpenSans-Italic;
  src: url(Fonts/open-sans/OpenSans-Italic.ttf);
}
@font-face {
  font-family: OpenSans-Light;
  src: url(Fonts/open-sans/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans-Light-Italic;
  src: url(Fonts/open-sans/OpenSans-LightItalic.ttf);
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(Fonts/open-sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Semibold;
  src: url(Fonts/open-sans/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: OpenSans-Semibold-Italic;
  src: url(Fonts/open-sans/OpenSans-SemiboldItalic.ttf);
}
@font-face {
  font-family: BodoniModa-Italic;
  src: url(Fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\wght.ttf);
}
@font-face {
  font-family: BodoniModa;
  src: url(Fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\wght.ttf);
}
@font-face {
  font-family: Henny-Penny;
  src: url(Fonts/Henny-Penny/HennyPenny-Regular.ttf);
}
@font-face {
  font-family: Snowburst;
  src: url(Fonts/Snowburst_One/SnowburstOne-Regular.ttf);
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*ONLY ADULT*/
.adultSwimmer {
  background: no-repeat url(images/lap-swimming.jpeg);
  min-height: 500px;
  height: auto;
  width: 100%;
  background-position:center;
  background-size: cover;
}
.adultProgram_heading{
  padding-top: 250px;
  font-family: "Bodoni Moda", serif;
  color: #fff;
  font-weight: 1000;
  text-align: center;
}

.adultProgram_body {
  font-family: OpenSans-Regular;
  font-size: medium;
  position: relative;
  font-weight: 150;
  padding: 0 100px;
}
.adulth1 {
  text-align: center;
  font-family:"Bodoni Moda", serif;
  font-weight: bold;
  font-size: 48px;
}
span p {
  font-family: OpenSans-Semibold;
  font-weight: 500;
}

.lapSwimming li {
  list-style: none;
  text-decoration: underline;
  margin-left: -35px;
}
.lapSwimming li a {
  color: #03b1f4;
}


/*------------------------------------------------------------------------------------------------------------------------------------*/
/*ONLY CONTACT*/
.locationsback {
  background: no-repeat url(images/contact-hero.jpeg);
  min-height: 500px;
  height: auto;
  width: 100%;
  background-position:center;
  background-size: cover;
}
.locationsheading {
  padding-top: 250px;
  text-align: center;
  font-family:"Bodoni Moda", serif;
  font-weight: bold;
  font-size: 48px;
  color: white;
}
.locations {
  position: relative;
  align-items: center;
}
.locationsParagraph {
  text-align: center;
  font-family: OpenSans-Regular;
  font-size: medium;
  font-weight: 150;
}

.contactGallery{
  margin: 10px 150px;
}
.contactGallery .cuadrados{
  margin-top: 20px;
}
.contactGallery a {
  color: #03b1f4;
  text-decoration: underline;
}
.contactrow {
  margin: 100px 0px 30px 0px;
}
.cuadrados {
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 2px 2px rgba(187, 185, 185, 0.3);
}
.center-col {
  justify-content: center;
  text-align: center;
}
