@font-face {
    font-family: OpenSans-Bold-Italic;
    src: url(Fonts/open-sans/Open\ Sans\ Bold\ Italic.ttf);
}
@font-face {
    font-family: OpenSans-Italic;
    src: url(Fonts/open-sans/OpenSans-Italic.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(Fonts/open-sans/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSans-Light-Italic;
    src: url(Fonts/open-sans/OpenSans-LightItalic.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(Fonts/open-sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Semibold;
    src: url(Fonts/open-sans/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: OpenSans-Semibold-Italic;
    src: url(Fonts/open-sans/OpenSans-SemiboldItalic.ttf);
}
@font-face {
    font-family: BodoniModa-Italic;
    src: url(Fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: BodoniModa;
    src: url(Fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: Henny-Penny;
    src: url(Fonts/Henny-Penny/HennyPenny-Regular.ttf);
}
@font-face {
    font-family: Snowburst;
    src: url(Fonts/Snowburst_One/SnowburstOne-Regular.ttf);
}

/*header*/
.main-header{
    background-color: #1A2E38;
    /* margin: 2em auto 0 auto; */
    min-height: 100px;
}

/*navigaiton*/
.main-menu{
    font-weight: 400;
    color: #fff;
}

.main-menu ul li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    font-family:OpenSans-Semibold;
}

.img-fluid {
    margin-left: 10px;
}

.main-menu .nav-button{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px 20px;
    line-height: 30px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #fff;
    border: none;
    font-family: OpenSans-Semibold;
    text-decoration: none;
    color: #03B1F4;
    font-weight: bold;
}

.main-menu ul li a{
    text-decoration: none;
    color: #ffff;
}
.main-menu ul li a:hover{
    color: orange !important;
}

.main-menu ul li:active{
    color: orange !important;
    border: none;
}

.main-menu ul li:active a{
    color: #fff
}

.navbar-toggler{
    width: 55px;
    height: 55px;
    border:none;
}

.navbar-toggler .line1{
    width: 80%;
    float: left;
    height: 3px;
    background-color: #fff;
    margin-bottom: 8px;
}

.navbar-toggler .line2{
    width: 100%;
    float: left;
    height: 3px;
    background-color: #fff;
    margin-bottom: 8px;
}

.navbar-toggler .line3{
    width: 50%;
    float: left;
    height: 3px;
    background-color: #fff;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .line1, 
.navbar-toggler[aria-expanded="true"] .line2 {
    width: 100%;
    float: left;
    height: 3px;
    background-color: orange;
    margin-bottom: 8px;
}

.navbar-toggler[aria-expanded="true"] .line3 {
    width: 100%;
    float: left;
    height: 3px;
    background-color: orange;
}

/* Sign In Modal*/
.signinLogo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.singinImage {
    position:absolute;
    margin-left: -82px;
    margin-top: -30px;
}

.modal-title h2 {
    font-family: OpenSans-Semibold ;
    color: #444;
    /* text-align: center !important; */
    margin-top: 10px;
    /* margin-left: 150px; */
}

.modal-title {
    margin: 0 auto;
}

.close {
    margin-top: 10px;
    margin-right: 10px;
}

.emailPhone label{
    color: rgb(212, 0, 0);
    font-family: OpenSans-Regular;
    font-size:medium;
    margin-top: 10px;
    margin-bottom: -5px;
}

.emailPhone {
    margin: 0 10px;
}

.emailPhone input {
    background-color: rgb(240, 240, 240);
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
}

.formForgot {
    color: #03B1F4;
    font-family: OpenSans-Regular;
    font-size: 12px;
    margin-top: 15px;
    margin-right:15px;
    float: right;
    text-decoration: underline;
}

.signBtns {
    text-align: center;
    margin-top: 100px;
}

.signInBtn {
    background-color: #03b0f473;
    color: #fff;
    font-weight: bold;
    padding: 10px 85px;
    margin-right: 5px;
    line-height: 12px;
    font-size: 15px;
    border-radius: 50px;
    /* border-color: #03B1F4; */
}

.signUpBtn {
    background-color: rgb(255, 255, 255);
    color: #03B1F4;
    font-weight: bold;
    padding: 10px 85px;
    margin-left: 5px;
    line-height: 12px;
    font-size: 15px;
    border-radius: 50px;
    border-color: #03B1F4;
}

.signInBtn:hover{
    color: #0077b5;
}

.signUpBtn:hover{
    color: #0077b5;
}

.modal-backdrop {
    display: none;
}

.modal {
    background: white;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}


/* Locations dropdown*/
.locations{
    font-size: 25px;
    color: #1A2E38;
    font-family: OpenSans-Semibold;
}

.county{
    font-size: 18px;
    color: black;
    padding-left: 20px ;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: OpenSans-Semibold;
}

.places{
    font-size: 15px;
    color:#03B1F4;
    padding-left: 20px ;
    margin-top: -15px;
    font-family: OpenSans-Regular;
}


/* Home Main Area */
.homeBabyImage {
    background: no-repeat url(images/home.jpeg);
    min-height: 650px;
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.homeBabyText h1{
    font-family: BodoniModa;
    text-align: center;
    color: #fff;
    font-size: 45px;
    font-weight: 800;
    padding-top: 200px;
}

.videoBtns {
    text-align: center;
    margin-top: 20px;
}

.videoBtn {
    background-color: #fff;
    color: #03B1F4;
    font-weight: bold;
    padding: 10px 30px;
    margin: 10px 10px;
    line-height: 30px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}

.videoBtn:hover {
    color: #0077b5;
}

.banner {
    text-align: center;
    margin-top: 30px;
    padding: 0 50px;
}

.teachingImage {
    background: no-repeat url(images/home-hands-on-teaching.jpeg);
    min-height: 550px;
    height: auto;
    width: 100%;
    background-position: center;
    margin-top: 30px;
}

.teachingText {
    float: left;
    padding-left: 200px;
    font-family: OpenSans-Regular;
}

.locationImage {
    background: no-repeat url(images/home-our-locations-bg.jpeg);
    background-position: center;
    min-height: 500px;
    height: auto;
    width: 100%;
    margin-left: 1px;
}

.locationText {
    color: #FFFFFF;
    text-align: center;
    font-family: OpenSans-Regular;
}


/* Award */
.awardText {
    margin-top: 80px;
}

.awardText h1{
    text-align: center;
    font-family: BodoniModa;
    font-weight: 1000;
    font-size: 50px;
    color: #444;
}

.award {
    display: inline;
    text-align: center;
    padding: 3px 0;
}

#awards {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
    /* margin-left: 300px; */
    /* margin-right: 300px; */
}

/* Footer */
footer {
    background: no-repeat url(images/footer-bg.jpeg);
    min-height: 500px;
    height: auto;
    width: 100%;
    background-position: top;
    position:center;
    background-size: cover; 
}

.footerImage {
    text-align: center;
    padding-top: 70px;
}

.footerNav {
    text-align: center;
    margin-top: 30px;
    float: left;
    font-family: OpenSans-Semibold;
}

.social {
    text-align: center;
    margin-top: 30px;
    float: right;
}

.copy {
    text-align: center;
    margin-top: 40px;
    float: right;
    font-family: OpenSans-Regular;
}

.copy p {
    font-size: small;
    font-family: OpenSans-Regular;
}

.copy p:last-child {
    margin-top: -15px;
}

footer li {
    display: inline;
    padding-left: 10px;
}

footer li a{
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size:small;
    color: #444;
    font-family: OpenSans-Semibold;
}

.circle{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 1.5em;
	}
	
.fa-linkedin{
	background: #0077b5;
	color: #FFFFFF;
    padding: 0.2em 0.3em;
	}

.fa-instagram{
  color: #FFFFFF;
  background: rgb(88, 88, 88);
  padding: 0.2em 0.3em;
  }  

.fa-twitter{
	background: #1DA1F2;
	color: #FFFFFF;
    padding: 0.2em 0.25em;
	}

.fa-yelp{
	background: #bb0000;;
	color: #FFFFFF;
    padding: 0.2em 0.3em;
	}

.fa-facebook{
	background: #3B5998;
	color: #FFFFFF;
    padding: 0.2em 0.4em;
	}

.fa-youtube-play{
	background: #bb0000;
	color: #FFFFFF;
    padding: 0.2em 0.2em;
  
	}
    
   .longLine {
    margin-left: 250px;
    margin-right: 250px;
   }

   .footerCounty {
    font-size: small;
    font-weight: bold;
    color: #444;
    font-family: OpenSans-Semibold;
   }

   .footerPhone {
    font-size: small;
    text-decoration: underline;
    margin-top: -10px;
    color: #444;
    font-family: OpenSans-Regular;
   }

   .footerContact {
    text-align: center;
    font-family: OpenSans-Regular;
   }

   .footRow {
    margin-left: 180px;
    margin-right: 180px;
   }


@media(max-width: 1199px) {
    .main-menu ul li {
        display: inline;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        font-family: OpenSans-Semibold;
    }
    
    .main-menu .nav-button{
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 5px;
        line-height: 30px;
        width: 95%;
        font-size: 18px;
        border-radius: 30px;
        border: none;
        background-color: #fff;
        font-family: OpenSans-Semibold;
        color: #03B1F4;
    }

    .longLine {
        margin-left: 30px;
        margin-right: 30px;
       }
}

@media (min-width:1200px) {
    .dropdown-menu{
        width: 1200px;
        margin-left: -800px;
    }
    
}

@media (max-width:768px) {
    .signInBtn {
        background-color: #03b0f473;
        color: #fff;
        font-weight: bold;
        padding: 10px 203px;
        line-height: 12px;
        font-size: 15px;
        border-radius: 50px;
        /* border-color: #03B1F4; */
    }
    
    .signUpBtn {
        background-color: rgb(255, 255, 255);
        color: #03B1F4;
        font-weight: bold;
        padding: 10px 200px;
        line-height: 12px;
        font-size: 15px;
        border-radius: 50px;
        border-color: #03B1F4;
    }
}


